
<div class="col-md-6 col-sm-12">
	<br>
	<br>
	<br>
	<br>
	<br>
	<img class="dora_img" src="<%= asset_path 'dora_small_pic.jpg' %>" alt="">
</div>

<div class="col-md-6 col-sm-12">

	<h1 style="color: #696969;">I'm Dora Palfi!</h1>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero itaque nisi, voluptate expedita labore sunt eligendi reiciendis aliquam corporis minima sequi earum eos incidunt error, illo quibusdam a nihil aliquid?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quo illo numquam maxime tenetur fugiat, ad suscipit possimus cupiditate praesentium, omnis, distinctio laborum aut ea sit voluptate! Voluptas, distinctio, necessitatibus.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sapiente dolorem cupiditate magni sequi quaerat natus aliquid quisquam. Similique veritatis ratione accusantium obcaecati qui est eum fugiat atque, quia nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque maiores iste delectus nulla voluptatibus voluptatem eius, labore voluptates dignissimos consequatur vitae necessitatibus deleniti fugiat fugit iusto minus blanditiis tenetur!
</div>