<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="space"></div>
<h4 class="col-md-6"><img class="logo_center" src="<%= asset_path 'imagicase_new' %>" alt="">
<br>
<br>
<br>
<br>
</h4>


<div class="right col-md-6">
	<h4 class="right">
<span class="green-btn">
	COMING SOON: THE BEST WAY TO LEARN CODING
</span>
<br>
<br>
<br>
 <span class="purple-btn">
 	DESIGNED BY GIRLS WITH GIRLS IN MIND
 </span>

	<br>
	<br>
	<br>
 <a href="#" class="button biliboard electronic" class="center">
	NOTIFY ME!
</a>
</h4>
<br>
<br>
<br>
<br>
<br>
</div>