<div class="space"></div>
<h4 class="center"><img class="logo_center" src="<%= asset_path 'imagicase_new' %>" alt="">


	<br>
	<br>
	COMING SOON: the better way to learn coding.
	<br>
	<br>
	 Designed by girls for girls but cool enough to appeal to everyone

	<br>
	<br>
	<br>
	<br>
	<br>
	 <a href="#" class="button">
	 	Let's get started!
	 </a>
</h4>