/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import url('https://fonts.googleapis.com/css?family=Comfortaa');


body{
	font-family: 'Comfortaa', cursive;
}

.navbar-default {
  background-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #f26f5f;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #f26f5f;
}
.navbar-default .navbar-nav > li > a {
  color: #f26f5f;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #f26f5f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #f26f5f;
}
.navbar-default .navbar-toggle {
  border-color: #f26f5f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f26f5f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f26f5f;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f26f5f;
}
.navbar-default .navbar-link {
  color: #f26f5f;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f26f5f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #f26f5f;
  }
}


.logo{
	max-width: 150px;
	padding: 0;
	margin: 0;
}


article{
	color: #f26f5f;
}

.center{
	text-align: center;
}

.logo_center{
	width: 60%;
}

div .space{
	height: 30px;
	width: 100%;
}

*::selection{
	background-color: #f26f5f;
	color: white;
}

.footer-bottom{
	background-color: #f5f6f7;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left{
	padding-top: 6px;
}

.social{
	font-size: 1.5em;
}
.fa{
	color: #F26F5F;
}

footer{
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;

}

@media (min-width: 1200px){
	footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;
	}
}
.splogo{
	width: 60%;
}

.button{
	background-image: linear-gradient(120deg, #F94E00, #F5AE17 );
	color: #fff;
	padding: 6px 10px 6px 10px ;
}

@font-face {
	font-family: "open";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@keyframes linear {
	
	from {
		background-position: 0 0;
	}
	to {
		background-position: 200px 0;
	}
	
}

@keyframes radial {
	
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 60px;
	}
	
}

@keyframes repeating {
	
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 85px;
	}
	
}

@keyframes electronic {
	
	0%, 100% {
		background-position: 20px -30px;
	}
	25% {
		background-position: 150px 5px;
	}
	50% {
		background-position: 20px 40px;
	}
	75% {
		background-position: -100px 5px;
	}
	
}

.biliboard {
	width: 200px;
	padding: 20px;
	text-align: center;
	position: relative;
	background: #fff;
	color: #333;
	font: 13px open, tahoma;
}
.biliboard:before {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 3px;
	transform: scale( 1.02, 1.08 );
	position: absolute;
	background: #f00;
	background: linear-gradient( 90deg, #fafafa, #fafafa, #1D8EF7, #fafafa, #fafafa );
	background-position: 55px 0;
	top: 0;
	animation: linear 1s infinite linear;
	left: 0;
	z-index: -1;
}

.biliboard.radial:before {
	background: radial-gradient( #fafafa, #fafafa, #F2A61A, #fafafa, #fafafa );
	animation: radial 1s infinite linear;
}

.biliboard.repeating:before {
	background: repeating-linear-gradient( -45deg, #fafafa, #fafafa 30px, #5FC914 30px, #5FC914 60px ) fixed;
	animation: repeating 1s infinite linear;
}

.biliboard.electronic:before {
	background: radial-gradient( #F26F5F, #F26F5F, #F26F5F, #F26F5F, #fafafa, #fafafa ) no-repeat;
	background-size: 150px 50px;
	animation: electronic 2s infinite linear;
}

